{% extends 'base.html' %}

{% block title %}
Товары
{% endblock %}

{% block link %}
<script src="{{ url_for('static', filename='js/changeQuantity.js') }}"></script>
<script src="{{ url_for('static', filename='js/addProduct.js') }}"></script>
<script src="{{ url_for('static', filename='js/addLocation.js') }}"></script>
<script src="{{ url_for('static', filename='js/searchProduct.js') }}"></script>
<script src="{{ url_for('static', filename='js/filterProducts.js') }}"></script>
{% endblock %}

{% block header %}
<header class="py-3 d-flex justify-content-between align-items-center">
  <div>
    <button class="btn btn-dark rounded-pill px-3" data-bs-toggle="modal" data-bs-target="#addProductModal">Добавить товар</button>
    <button class="btn btn-secondary rounded-pill px-3" data-bs-toggle="modal" data-bs-target="#addLocationModal">Добавить локацию</button>
  </div>
  <div class="d-flex justify-content-end">
    <input type="text" id="searchInput" placeholder="Поиск по названию товара" class="form-control me-2" size="{{ 'Поиск по названию товара'|length }}" />
    <button id="searchButton" class="btn btn-primary me-2">Поиск</button>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#filterModal">Фильтр</button>
  </div>
  {% include 'products/product_modals.html' %}
</header>
{% endblock %}

{% block body %}
<div id="tableContainer">
<table class="table">
  <thead>
    <tr>
      <th>Название</th>
      <th>Описание</th>
      <th>Цена</th>
      <th>Локация</th>
      <th>Количество</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
  {% for inventory_item in inventory_items %}
    {% include 'products/product_row.html' %}
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}