<tr>
  <td>{{ inventory_item.product.name }}</td>
  <td class="w-100">{{ inventory_item.product.description }}</td>
  <td class="text-nowrap">{{ inventory_item.product.price }}</td>
  <td>{{ inventory_item.location.name }}</td>
  <td class="text-nowrap" id="quantity-{{ inventory_item.id }}">{{ inventory_item.quantity }}</td>
  <td class="text-end text-nowrap">
      <button class="btn btn-primary rounded-pill px-3 add-to-inventory" data-inventory-id="{{ inventory_item.id }}">Добавить на склад</button>
      <button class="btn btn-danger rounded-pill px-3 remove-from-inventory" data-inventory-id="{{ inventory_item.id }}">Удалить со склада</button>
  </td>
</tr>