<!-- Модальное окно создания нового Товара-->
<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addProductModalLabel">Добавить товар</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" id="productName" class="form-control mb-2" placeholder="Название товара" required>
        <textarea id="productDescription" class="form-control mb-2" placeholder="Описание товара"></textarea>
        <input type="number" id="productPrice" class="form-control mb-2" placeholder="Цена товара">
        <select id="productLocation" class="form-control mb-2" required>
            {% for location in locations %}
            <option value="{{ location.id }}">{{ location.name }}</option>
            {% endfor %}
        </select>
        <input type="number" step="1" id="productQuantity" class="form-control" placeholder="Количество">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" id="saveProduct">Сохранить</button>
      </div>
    </div>
  </div>
</div>

<!-- Модальное окно создания новой Локации -->
<div class="modal fade" id="addLocationModal" tabindex="-1" aria-labelledby="addLocationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addLocationModalLabel">Добавить локацию</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" id="locationName" class="form-control" placeholder="Название локации" required>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" id="saveLocation">Сохранить</button>
      </div>
    </div>
  </div>
</div>

<!-- Модальное окно Фильтра -->
<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filterModalLabel">Фильтры</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Список чекбоксов для выбора локаций -->
        <h6>Локации</h6>
        <form id="filterForm" class="row g-2">
          {% for location in locations %}
            <div class="col-6">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="{{ location.id }}" id="location{{ location.id }}">
                <label class="form-check-label" for="location{{ location.id }}">
                  {{ location.name }}
                </label>
              </div>
            </div>
          {% endfor %}
        </form>
        <!-- Секция фильтрации по цене -->
        <h6>Цена</h6>
        <div class="d-flex">
          <input type="number" id="priceMin" class="form-control me-2" placeholder="От">
          <input type="number" id="priceMax" class="form-control" placeholder="До">
        </div>
        <h6>Количество</h6>
        <div class="d-flex">
          <input type="number" id="quantityMin" class="form-control me-2" placeholder="От">
          <input type="number" id="quantityMax" class="form-control" placeholder="До">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="clearFilter" class="btn btn-secondary">Очистить</button>
        <button type="button" id="searchFilter" class="btn btn-primary">Поиск</button>
      </div>
    </div>
  </div>
</div>