<table class="table">
  <thead>
    <tr>
      <th>Название</th>
      <th>Описание</th>
      <th>Цена</th>
      <th>Локация</th>
      <th>Количество</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
  {% for inventory_item in inventory_items %}
    {% include 'products/product_row.html' %}
  {% endfor %}
  </tbody>
</table>